USE [master]
GO
/****** Object:  Database [Db8]    Script Date: 5/2/2017 3:56:10 PM ******/
CREATE DATABASE [Db8]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Db8', FILENAME = N'C:\Projects\Jahani\Eng Shakiba\Project3\FlightManagementSystem\Database\Db8.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Db8_log', FILENAME = N'C:\Projects\Jahani\Eng Shakiba\Project3\FlightManagementSystem\Database\Db8_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Db8].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Db8]
GO
/****** Object:  Table [dbo].[Company]    Script Date: 5/2/2017 3:56:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Company](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Image] [varbinary](max) NOT NULL,
 CONSTRAINT [PK_Company] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Flights]    Script Date: 5/2/2017 3:56:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Flights](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LineId] [int] NOT NULL,
	[TakeOfMoment] [datetime] NOT NULL,
	[LandingMoment] [datetime] NOT NULL,
	[Passengers] [int] NOT NULL,
	[Stauts] [nvarchar](50) NOT NULL,
	[LandingAirportRunawayNumber] [smallint] NULL,
	[LandingAirportRunawayNumberHost] [smallint] NULL,
	[PlaneId] [int] NOT NULL,
 CONSTRAINT [PK_Flights] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Line]    Script Date: 5/2/2017 3:56:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Line](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FromCity] [nvarchar](50) NOT NULL,
	[FromAirport] [nvarchar](50) NOT NULL,
	[ToCity] [nvarchar](50) NOT NULL,
	[ToAirport] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Line] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Plane]    Script Date: 5/2/2017 3:56:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Plane](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[ProduceYear] [int] NOT NULL,
	[Capacity] [int] NOT NULL,
	[Image] [varbinary](max) NULL,
	[CompanyId] [int] NOT NULL,
 CONSTRAINT [PK_Plane] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Company] ON 

GO
SET IDENTITY_INSERT [dbo].[Company] OFF
GO
SET IDENTITY_INSERT [dbo].[Flights] ON 

GO
INSERT [dbo].[Flights] ([Id], [LineId], [TakeOfMoment], [LandingMoment], [Passengers], [Stauts], [LandingAirportRunawayNumber], [LandingAirportRunawayNumberHost], [PlaneId]) VALUES (1, 4, CAST(N'2017-05-02T14:47:33.770' AS DateTime), CAST(N'2017-05-02T14:47:33.770' AS DateTime), 100, N'Nest', 10, 100, 4)
GO
SET IDENTITY_INSERT [dbo].[Flights] OFF
GO
SET IDENTITY_INSERT [dbo].[Line] ON 

GO
INSERT [dbo].[Line] ([Id], [FromCity], [FromAirport], [ToCity], [ToAirport]) VALUES (3, N'Hamedan', N'Imam', N'Tehran', N'Mehrabad')
GO
INSERT [dbo].[Line] ([Id], [FromCity], [FromAirport], [ToCity], [ToAirport]) VALUES (4, N'Hamedan', N'Imam', N'Ghazvin', N'Imam')
GO
INSERT [dbo].[Line] ([Id], [FromCity], [FromAirport], [ToCity], [ToAirport]) VALUES (5, N'Lavan', N'Unknown Airport 1', N'Khozestan', N'Ahvaz')
GO
SET IDENTITY_INSERT [dbo].[Line] OFF
GO
SET IDENTITY_INSERT [dbo].[Plane] ON 

GO
SET IDENTITY_INSERT [dbo].[Plane] OFF
GO
ALTER TABLE [dbo].[Flights]  WITH CHECK ADD  CONSTRAINT [FK_Flights_Line1] FOREIGN KEY([LineId])
REFERENCES [dbo].[Line] ([Id])
GO
ALTER TABLE [dbo].[Flights] CHECK CONSTRAINT [FK_Flights_Line1]
GO
ALTER TABLE [dbo].[Flights]  WITH CHECK ADD  CONSTRAINT [FK_Flights_Plane] FOREIGN KEY([PlaneId])
REFERENCES [dbo].[Plane] ([Id])
GO
ALTER TABLE [dbo].[Flights] CHECK CONSTRAINT [FK_Flights_Plane]
GO
ALTER TABLE [dbo].[Plane]  WITH CHECK ADD  CONSTRAINT [FK_Plane_Plane] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[Company] ([Id])
GO
ALTER TABLE [dbo].[Plane] CHECK CONSTRAINT [FK_Plane_Plane]
GO
USE [master]
GO
